<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Network_post.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18EEE76D1DF196E8006B813F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EEE7861DF196E8006B813F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EEE7911DF196E8006B813F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
